.scroll-pane {
    -fx-background-color: transparent;
}

#serverList .scroll-bar:vertical {
    -fx-scale-x: 0;
    -fx-padding: -10;
    -fx-opacity: 0;
    -fx-border-color: #e3e5e8;
}

#serverList {
    -fx-border-color: #e3e5e8;
    -fx-background-insets: 0;
    -fx-background-color: #e3e5e8;
    -fx-padding: 1;
}

#serverList .list-cell {
    -fx-border-color: #e3e5e8;
    -fx-background-insets: 0;
    -fx-background-color: #e3e5e8;
    -fx-padding: 1;
}

#settingsButton, #logoutButton, #helpButton {
    -fx-background-color: #7da6df;
    -fx-background-radius: 80;
    -fx-text-fill: WHITE;
}

#settingsButton:hover, #logoutButton:hover, #helpButton:hover {
    -fx-background-color: #a0bade;
    -fx-background-radius: 80;
}

#settingsButton:pressed, #logoutButton:pressed, #helpButton:pressed {
    -fx-background-color: #6899de;
    -fx-background-radius: 80;
}

#root {
    -fx-background-color: #ffffff;
}

#homeViewVBox {
    -fx-background-color: #e3e5e8;
}

#markdownScrollView .scroll-bar:horizontal .track,
#markdownScrollView .scroll-bar:vertical .track {
    -fx-background-color: #f2f3f5;
    -fx-border-color: #f2f3f5;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}

#markdownScrollView .scroll-bar:horizontal .increment-button,
#markdownScrollView .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;
}

#markdownScrollView .scroll-bar:vertical .increment-button,
#markdownScrollView .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;
}

#markdownScrollView .scroll-bar .increment-arrow,
#markdownScrollView .scroll-bar .decrement-arrow {
    -fx-padding: 0;
}

#markdownScrollView .scroll-bar:horizontal .thumb,
#markdownScrollView .scroll-bar:vertical .thumb {
    -fx-background-color: #626262;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}