.scroll-pane {
    -fx-background-color: transparent;
}

#userName {
    -fx-text-fill: BLACK;
}

#currentGame{
    -fx-text-fill: BLACK;
}

#scrollPaneUserBox {
    -fx-background-color: #f2f3f5;
}

#currentUserBox {
    -fx-background-color: #f2f3f5;
}

#box {
    -fx-background-color: #f2f3f5;
}

#chatBox {
    -fx-background-color: WHITE;
}

#userBox {
    -fx-background-color: #f2f3f5;
}

#onlineUsers {
    -fx-border-color: #f2f3f5;
    -fx-background-insets: 0;
    -fx-background-color: #f2f3f5;
    -fx-padding: 1;
    -fx-text-fill: BLACK;
}

#onlineUsers .scroll-bar:vertical {
    -fx-scale-x: 0;
    -fx-padding: -10;
    -fx-opacity: 0;
    -fx-border-color: #f2f3f5;
}

#onlineUsers .scroll-bar:horizontal {
    -fx-scale-x: 0;
    -fx-padding: -10;
    -fx-opacity: 0;
    -fx-border-color: #f2f3f5;
}

#onlineUsers .list-cell {
    -fx-border-color: #f2f3f5;
    -fx-background-insets: 0;
    -fx-background-color: #f2f3f5;
    -fx-padding: 1;
    -fx-text-fill: BLACK;
}

#onlineUsers .list-cell .label {
    -fx-text-fill: BLACK;
}

#privateChatList .scroll-bar:vertical {
    -fx-scale-x: 0;
    -fx-padding: -10;
    -fx-opacity: 0;
    -fx-border-color: #f2f3f5;
}

#privateChatList .scroll-bar:horizontal {
    -fx-scale-x: 0;
    -fx-padding: -10;
    -fx-opacity: 0;
    -fx-border-color: #f2f3f5;
}

#privateChatList {
    -fx-border-color: #f2f3f5;
    -fx-background-insets: 0;
    -fx-background-color: #f2f3f5;
    -fx-padding: 2 2 2 2;
    -fx-text-fill: BLACK;
}

#privateChatList .list-cell {
    -fx-border-color: #f2f3f5;
    -fx-background-insets: 0;
    -fx-background-color: #f2f3f5;
    -fx-text-fill: BLACK;
    -fx-padding: 0 0 0 0;
}

#privateChatList .selectedChat {
    -fx-background-color: #5a5c5e;

    -fx-background-radius: 13px;
    -fx-pref-height: 65;
    -fx-max-width: 183
}

#privateChatList .unselectedChat {
    -fx-background-color: #a4a4a4;

    -fx-background-radius: 13px;
    -fx-pref-height: 65;
    -fx-max-width: 183
}

#privateChatList .unselectedChatHover {
    -fx-background-color: #bababa;

    -fx-background-radius: 13px;
    -fx-pref-height: 65;
    -fx-max-width: 183
}

#privateChatList .notificationCounterBackground {
    -fx-fill: #5e7da8;
}

#privateChatList .notificationCounterForeground {
    -fx-fill: #7da6df;
}

#privateChatList .msg {
    -fx-text-fill: #3b3b3b;
}

#privateChatList .name {
    -fx-text-fill: BLACK;
}

#welcomeToAccord {
    -fx-text-fill: BLACK;
}

#root {
    -fx-background-color: #f2f3f5;
}

#homeViewVBox {
    -fx-background-color: #f2f3f5;
    -fx-border-color: #f2f3f5;
}

#label_serverName {
    -fx-text-fill: BLACK;
    -fx-background-color: #f2f3f5;
}

#label_audioChannelName {
    -fx-text-fill: BLACK;
    -fx-background-color: #f2f3f5;
}

#button_disconnectAudio, #mute_headphone, #mute_microphone {
    -fx-background-color: #7da6df;
    -fx-background-radius: 80;
    -fx-text-fill: white;
}

#button_disconnectAudio:hover, #mute_headphone:hover, #mute_microphone:hover {
    -fx-background-color: #a0bade;
    -fx-background-radius: 80;
}

#button_disconnectAudio:pressed, #mute_headphone:pressed, #mute_microphone:pressed {
    -fx-background-color: #6899de;
    -fx-background-radius: 80;
}

.numberTextStyle {
    -fx-text-fill: WHITE;
}