/* open snake */
.root {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 24, 0, 0, 0);
    -fx-background-insets: 24;
    -fx-padding: 24;
}

#openSnakeBox {
    -fx-background-color: #ffffff;
}

#label_congrats {
    -fx-text-fill: BLACK;
}
#label_you-found {
    -fx-text-fill: BLACK;
}

#button_start, #button_exit {
    -fx-text-fill: WHITE;
    -fx-background-color: #7da6df;
    -fx-background-radius: 20;
}

#button_start:hover, #button_exit:hover {
    -fx-background-color: #a0bade;
}

#button_start:pressed, #button_exit:pressed {
    -fx-background-color: #6899de;
}


/* snake game */
#actionBar{
    -fx-background-color: #ffffff;
}

#label_score{
    -fx-text-fill: BLACK;
}

#label_highscore{
    -fx-text-fill: BLACK;
}

#restartButton{
    -fx-text-fill: WHITE;
    -fx-background-color: #7da6df;
    -fx-background-radius: 20;
}
#restartButton:hover{
    -fx-background-color: #a0bade;
}
#restartButton:pressed{
    -fx-background-color: #6899de;
}

#exitButton, #button_gameover_exit {
    -fx-text-fill: WHITE;
    -fx-background-color: #7da6df;
    -fx-background-radius: 20;
}
#exitButton:hover, #button_gameover_exit:hover {
    -fx-background-color: #a0bade;
}
#exitButton:pressed, #button_gameover_exit:pressed {
    -fx-background-color: #6899de;
}

#muteButton{
    -fx-text-fill: WHITE;
    -fx-background-color: #7da6df;
    -fx-background-radius: 20;
}
#muteButton:hover{
    -fx-background-color: #a0bade;
}
#muteButton:pressed{
    -fx-background-color: #6899de;
}