.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #2f3136;
}

.tab-pane {
    -fx-tab-min-width: 60px;
    -fx-background-color: #202225;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-width: 1;
    -fx-border-color: -fx-focus-color;
}

.tab {
    -fx-background-insets: 0 1 0 1, 0, 0;
}

.tab-pane .tab {
    -fx-background-color: #44464e;
    -fx-border-width: 0 0 3 0;
    -fx-border-color: #44464e;
    -fx-border-insets: 0 1 0 1, 0, 0;
    -fx-focus-color: transparent;
}

.tab-pane .tab:hover {
    -fx-background-color: #666870;
}

.tab-pane .tab:selected {
    -fx-focus-color: transparent;
    -fx-background-color: #44464e;
    -fx-border-width: 0 0 3 0;
    -fx-border-color: #ff9999;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: WHITE;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: WHITE;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overridden as 5 2 0 0 */
}

.text-input {
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 0;
    -fx-border-color: #222222;
    -fx-background-color: #2f3136;
}

#createServer, #joinServer {
    -fx-background-color: #ff9999;
    -fx-background-radius: 80;
    -fx-border-color: transparent;
    -fx-padding: 0 0 0 0;
    -fx-text-fill: BLACK;
}

#createServer:hover, #joinServer:hover {
    -fx-background-color: #ffbdbd;
}

#createServer:pressed, #joinServer:pressed {
    -fx-background-color: #ff7d7d;
}