#loginButton, #signinButton, #settingsButton {
    -fx-background-color: #ff9999;
    -fx-background-radius: 80;
    -fx-text-fill: BLACK;
}

#loginButton:hover, #signinButton:hover, #settingsButton:hover {
    -fx-background-color: #ffbdbd;
    -fx-background-radius: 80;
}

#loginButton:pressed, #signinButton:pressed, #settingsButton:pressed {
    -fx-background-color: #ff7d7d;
    -fx-background-radius: 80;
}

#logoutButton {
    -fx-background-color: #ff9999;
    -fx-background-radius: 80;
}

#connectionLabel {
    -fx-text-fill: #ff9999;
}

#passwordTextField {
    -fx-text-box-border: #ff9999;
}

#rememberMeCheckbox {
    -fx-text-fill: WHITE;
}

#loginAsTempUser {
    -fx-text-fill: WHITE;
}

#usernameTextfield {
    -fx-text-box-border: #ff9999;
}

#root {
    -fx-background-color: #36393f;
}