.restartButton {
    -fx-text-fill: black;
    -fx-background-color: #F5A9BC;
    -fx-background-radius: 20;
}

.restartButton:hover {
    -fx-text-fill: black;
    -fx-background-color: #F7819F;
    -fx-background-radius: 20;
}

.restartButton:pressed {
    -fx-text-fill: black;
    -fx-background-color: #F5A9BC;
    -fx-background-radius: 20;
}

.muteButton {
    -fx-text-fill: white;
    -fx-background-color: #545454;
    -fx-background-radius: 20;
}

.muteButton:hover {
    -fx-text-fill: white;
    -fx-background-color: #454545;
    -fx-background-radius: 20;
}

.muteButton:pressed {
    -fx-text-fill: white;
    -fx-background-color: #545454;
    -fx-background-radius: 20;
}

.exitButton {
    -fx-text-fill: white;
    -fx-background-color: #545454;
}

.exitButton:hover {
    -fx-text-fill: white;
    -fx-background-color: #454545;
}

.exitButton:pressed {
    -fx-text-fill: white;
    -fx-background-color: #545454;
}

.bodybg {
    -fx-background-image: url('../../controller/snake/fog.png');
    -fx-background-size: 100% 100%;
}